.centered-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.logout-card {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
}

ion-button {
  margin-top: 30px;
  --background: linear-gradient(90deg, #941f01 0%, #ff510c 100%);
  --color: white;
  --border-radius: 8px;
  font-weight: bold;
}
